body{
   
    align-items: center;
    border: 1px solid white;
}
.bio{
    align-content: center;
    border: 1px solid blue;
    width:max-content;
    height: min-content;
}
h2{
    color: red;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
h3{
    font-size: 20px;
}
h1{
color: rgb(117, 26, 202);
font-size: 40px;
font-style: italic;
text-align: center;
}
img{
    width: 250px;
    height: 150px;
    padding: 10px 20px 10px 10px;


}
.last{
    text-align: center;
    font-size: 20px

}
tr,td,th{
    text-align: left;
    padding: 10px 20px 10px 10px;
    ;
}